<?xml version="1.0"?>
<model>
  <name>OSDome-64</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>tucasa</name>
   <email>abc@xxx.com</email>
  </author>

  <description>
    This is a model of OSDome, Ouster's Hemispherical 180 deg field of view digital lidar sensor.
  </description>
</model>
